AZURE_VOICELIVE_ENDPOINT="https://team2foundrydanskebank.services.ai.azure.com/"
AZURE_VOICELIVE_API_KEY=
VOICELIVE_MODE=model
VOICELIVE_MODEL=gpt-realtime
VOICELIVE_VOICE=en-US-Ava:DragonHDLatestNeural
VOICELIVE_TRANSCRIBE_MODEL=gpt-4o-transcribe
VOICELIVE_INSTRUCTIONS=You are a helpful AI assistant. Respond naturally and conversationally. Keep your responses concise but engaging.
AZURE_ENV_NAME="voice-lives-playground-3139"
AZURE_LOCATION="swedencentral"
AZURE_SUBSCRIPTION_ID="f81ea9bd-bcc2-46b2-b295-c51d9c1aea95"
AZURE_EXISTING_AIPROJECT_ENDPOINT="https://team2foundrydanskebank.services.ai.azure.com/"
AZURE_EXISTING_AIPROJECT_RESOURCE_ID="/subscriptions/f81ea9bd-bcc2-46b2-b295-c51d9c1aea95/resourceGroups/Team_2/providers/Microsoft.CognitiveServices/accounts/team2foundrydanskebank/projects/proj-team2"
AZD_ALLOW_NON_EMPTY_FOLDER=true